$nav-bg-color: transparent;
$board-bg-color:rgba(110, 105, 105, 0.35);
$article-border-color: wheat;
$article-border-hover-color: rgb(235, 165, 0);


body {
    background: url('./img/bg.jpg')  center center fixed no-repeat;
    background-size: cover;
}

* {
    padding: 0px;
    margin: 0px;
}

nav {
    height: 30px;
    background-color: $nav-bg-color;
    span {
        display: inline-block;
        font-family: monospace;
        font-size: 16px;
        font-weight: bold;
        color: white;
        margin: 10px;
        padding: 3px;
        &~span {
            margin-left: 15px;
        }
        &~span:hover {
            border-bottom: 2px solid $article-border-hover-color;
        }
    } 
}

.wrapper {
    margin: 0 auto;
    min-height: 900px;
    height: auto;
    width: 800px;
    padding: 30px;
    .board {
        height: auto;
        width: 700px;
        background-color: $board-bg-color;
        margin: 100px auto;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        .article {
            position: relative;
            height: auto;
            width: 675px;
            border-bottom: 3px solid $article-border-color;
            transition: 0.3s all;
            &~.article {
                margin-bottom: 50px;
            }
            &:hover {
                border-color: $article-border-hover-color;
            }
            &-title {
                padding: 5px 8px;
                font-family: monospace;
                font-size: 38px;
                font-weight: bold;
                color: white;
                word-break: break-word;
            }
            &-text {
                transition: 0.2s all;
                @extend .article-title;
                font-size: 20px;
            }
            &-editor {  
                bottom: 5px;
                float: right;
                @extend .article-title;
                font-size: 20px;
            }
            &-back {
                @extend .article-title;
                font-size: 30px;
                margin-top: 40px;
                right: 10px;
                transition: 0.2s all;
                &:hover {
                    color: $article-border-hover-color;
                }
            }
        }
    }
}

footer {
    padding: 15px;
    bottom: 0px;
    right: 6px;
    font-family: monospace;
    font-size: 8px;
    font-weight: bold;
    color: white;
    word-break: break-all;
}